<nav class="navbar navbar-expand-lg color-theme ">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <i class="material-icons icon">restaurant</i> FoodxBites
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto nav-links">
                <a class="nav-link active" href="index.html" aria-current="page">Home</a>
                <a class="nav-link" href="food.html">Foodlist</a>
                <a class="nav-link" href="profile.html">Profile</a>
                <a class="nav-link" href="contact.html">Contact Us</a>
                <a class="nav-link" href="admin.html">Admin</a>
            </div>
        </div>
        <div class="d-flex ms-lg-3 mt-2 mt-lg-0">
            <button class="btn btn-outline-primary me-2" id="login" type="button" onclick="login()">Login/Register</button>
        </div>
    </div>
</nav>